{% extends 'base.html.twig' %}

{% block title %}New Fooditem{% endblock %}

{% block body %}
    <center><h1>Create new Fooditem</h1></center>
    {{ include('fooditem/_form.html.twig') }}
{% endblock %}
