{% extends 'base.html.twig' %}

{% block title %}Edit About{% endblock %}

{% block body %}
	<center><h1>Edit About</h1></center>

	{{ include('about/_form.html.twig', {'button_label': 'Update'}) }}
	
{% endblock %}
